.name{
    font-size: 40px;
    color: cadetblue;
    font-family: cursive;
    text-align: center;
    padding-top: 10px;
    line-height: 150px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
}
.w_60:hover .name{
    opacity: 1;
    visibility: visible;
}

